.buttonName {
  /* width: 119px; */
  height: 47px;
  padding: 9px 30px;
  gap: 0px;
  border-radius: 8px;
  border: 1px 0px 0px 0px;
  background-color: #7d2ce0;
  border: 1px solid #e5d5f9;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  color: #fbf8ff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonName button {
}
