.appContainer {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

@media (max-width: 768px) {
  .sideNav {
    display: none;
  }

  .sideNav.show {
    display: flex;
  }
}
