.container {
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Ensures alignment to the left */
}

.header h3 {
  font-size: 29px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  margin: 0; /* Reset margin to prevent unexpected shifts */
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.searchContainer button {
  width: 183px;
  height: 48px;
  padding: 10px;
  border-radius: 8px;
  background: #9825f8;
  border: 1px solid #ffffff;
  color: #ffffff;
}

.searchContainer button:hover {
  background: #fff;
  border: 1px solid #9825f8;
  color: #9825f8;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.searchBar {
  width: 21.9375rem;
  height: 3rem;
  padding: 0.625rem 0.875rem 0.625rem 0.875rem;
  border-radius: 6.25rem;
  background-color: #ffffff;
  border: 0.0625rem solid #dcdcdc;
  display: flex;
  flex-direction: row;
}

.searchBar input {
  width: 100%;
}

/* For screens less than 768px */
@media (max-width: 768px) {
  .titleContainer {
    flex-direction: column;
    gap: 32px;
  }

  .searchContainer {
    justify-content: space-between;
  }

  .searchBar {
  }
}

/* For screens less than 480px */
@media (max-width: 480px) {
  .titleContainer {
    gap: 8px;
  }

  .searchContainer {
    gap: 16px;
  }

  .searchBar {
    width: 100%;
    padding: 0.5rem 0.875rem 0.5rem 0.875rem;
    margin: 0;
  }

  .searchContainer button {
    width: 75%;
    padding: 8px;
    font-size: small;
  }
}
