.container {
  max-width: 100%;
}

.header h3 {
  font-size: 1.9375rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.selectOptionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.durationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selectOptions {
}

/* .selectOptions select {
} */

.selectOptions option {
}

.selectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.selectBox select {
  width: 11.4375rem;
  height: 3rem;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #4f4f4f;
  opacity: 0rem;
}

.selectOptions p {
}

.accountSummary {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 9.375rem;
  align-items: center;
  margin-top: 2rem;
}

.summaryContainer {
}

.summaryContainer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
  color: #333333;
  margin-bottom: 1.5rem;
}

.accountSummary {
  margin-bottom: 3.125rem;
}

.accountSummary .valueStyle {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.valueStyle p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: left;
  text-decoration-skip-ink: none;
  color: #8315db;
}

.valueStyle span {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  text-align: center;
  color: #888888;
}

.expenditureContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3.125rem;
}

.expenditureContainer p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: left;
}

.expenditures {
  display: flex;
  flex-direction: row;
  gap: 7.5rem;
}

.accountSummary .valueStyle span {
}

.breakdown {
  width: 100%;
  height: 21.3125rem;
  gap: 0rem;
  border-radius: 0.7594rem;
  border: 0.0625rem solid #6d6d6d;
  opacity: 0rem;
  padding: 1.625rem 2.5625rem;
  margin-bottom: 1rem;
}

.breakdown p {
}

.btn {
}
