.navContainer {
  background-color: #7d2ce0;
  max-height: max-content;
  width: 250px;
  padding-left: 65px;
  padding-top: 53px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navContainer li {
  margin-bottom: 14px;
}

.navContainer a {
  color: #f4f3f3;
  display: flex;
  gap: 10px;
}

.iconStyle {
  width: 20px;
  height: 20px;
  color: white;
}

.activeLink {
  display: rela;
  width: 150px;
  height: 46px;
  top: 148px;
  left: -12px;
  padding: 10px;
  border-radius: 0px 8px 8px 0px;
  opacity: 0px;
  background-color: #4b03a3;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 40px;
}

.logoutButton {
  background-color: #7d2ce0 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #fff !important;
}
