.top {
    /* background: #F3F3F2; */
    padding: 10px ;
}

.title {
    /* font-family: ; */
    font-size: clamp(1.5rem, .2951vw + 1.8111rem, 2.18rem);
    font-weight: bolder;
    line-height: 48px;
    text-align: left;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: calc(100vh ); */
}

.cont {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 20px 0 10px 0;
}

.input {
    width: 90%;
    /* background: #F4F3F3; */
    height: 55px;
    border-radius: 15px;
    border: 1px solid #3D3D3D;
    padding: 5px 10px;
    position: relative;
    z-index: auto;
}

.input:focus {
    border: 2px solid #4B02A3;
}

.submit {
    width: 45%;
    height: 55px;
    background: #4B02A3;
    color: #E2D3F4;
    border-radius: 12px;
}

.submit2 {
    width: 45%;
    height: 55px;
    border: 1px solid #4B02A3;
    color: #4B02A3;
    border-radius: 12px;
    transition: all ease-in-out .3s;
}

.submit2:hover {
    background-color: #6206d1;
    color: #E2D3F4;
}

.check {
    appearance: none;
    border: 1px solid #4B02A3;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.check::before {
    content: '';
}

.check:checked::before {
    content: "\2713";
}

.fullPayment {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(173, 177, 177, 0.493);
    display: flex;
    justify-content: center;
    align-items: center;
}

.methods input {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.methods label {
    font-weight: 300;
    font-size: 14px;
}

.methods div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.methods{
    margin-top: 30px;
}

.textInput input {
    border: 1px solid #c4c4c4;
    border-radius: 8px;
    height: 30px;
    width: 100%;
    padding: 5px;
}



.textInput input:focus {
    border: 1px solid #3D3D3D;
}

.textInput {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.textInput label {
    font-weight: 300;
    font-size: 14px;
}

@media (max-width: 600px) {
    .grid {
      display: block;
    }
  
    .input {
      width: 100% !important;
    }
  }
  
  @media (max-width: 1024px) {
  
    .input {
      width: 90%;
    }
  }