.container {
  padding: 1.5rem 0rem;
  width: 65vw;
}

.container form {
  margin-top: 2.5rem;
}

.formTitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: #ffffff;
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGroup label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
}

.formGroup select {
  width: 25rem;
  padding: 0.625rem;
  gap: 10.0625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #3d3d3d;
}

.formGroup input {
  /* height: 3rem; */
  padding: 0.625rem;
  gap: 23.9375rem;
  border-radius: 0.5rem;
  border: 0.0625rem;
  border: 0.0625rem solid #3d3d3d;
}

.formGroup textarea {
  height: 50px;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #3d3d3d;
}

.actionBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.actionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  margin-top: 1.8rem;
}

.actionContainer button {
  width: 200px;
  height: 60px;
  padding: 16px 68px 16px 68px;
  border-radius: 8px;
}

.actionContainer button:first-child {
  border: 1px solid #8315db;
  color: #8315db;
  box-shadow: 0px 0px 1px 0px #171a1f12;
  box-shadow: 0px 0px 2px 0px #171a1f1f;
}

.actionContainer button:last-child {
  background: #8315db;
  box-shadow: 0px 0px 1px 0px #171a1f12;
  box-shadow: 0px 0px 2px 0px #171a1f1f;
  color: #ffffff;
}

@media (max-width: 768px) {
  .container {
    height: 65vh;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .formRow {
    flex-direction: column;
  }

  .formGroup select {
    width: 100%;
  }
  .actionContainer {
    gap: 24px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 65vh;
  }

  .actionContainer {
    width: 100%;
  }

  .actionContainer button {
    width: 100%;
    padding: 0 16px;
  }
}
