.container {
  padding: 1.5rem 0rem;
  width: 100%;
}

.formTitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: left;
  margin-bottom: 1.5rem;
}

.formRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.formColumn {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGroup label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
}

.formGroup select {
  width: 25rem;
  height: 3rem;
  padding: 0.625rem;
  gap: 14.0625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #3d3d3d;
}

.formGroup input {
  height: 3rem;
  width: 25rem;

  padding: 0.625rem;
  gap: 23.9375rem;
  border-radius: 0.5rem;
  border: 0.0625rem;
  border: 0.0625rem solid #3d3d3d;
}

.formGroup textarea {
  height: 98px;
  padding: 10px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #3d3d3d;
}

.actionButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 4.8125rem;
  gap: 8rem;
}

.checkboxGroup {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}

.checkboxGroup input {
  width: 1.5831rem;
  height: 1.5831rem;
  border: 1.5px solid #8315db;
}

.actionBtns {
  display: flex;
  flex-direction: row;
  gap: 2.0625rem;
}

.actionBtns button {
  width: 16.0625rem;
  height: 3.75rem;
  padding: 1rem 4.25rem;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 0.0625rem solid #8315db;
  box-shadow: 0rem 0rem 0.0625rem 0rem #171a1f12;
  box-shadow: 0rem 0rem 0.125rem 0rem #171a1f1f;
}

.buttonCancel {
  background-color: #ffff;
  color: #8315db;
}

.buttonSubmit {
  background-color: #8315db;
  color: #ffff;
}

.preview {
  width: 12.5rem;
  height: 12.5rem;
}
